<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ChartDatasourceApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span  aria-hidden="true"></span> ListData Chart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ExpandoChart">
                <span  aria-hidden="true"></span> ExpandoChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DynamicChart">
                <span  aria-hidden="true"></span> DynamicChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RemoteChart">
                <span  aria-hidden="true"></span> RemoteChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SqlChart">
                <span  aria-hidden="true"></span> SqlChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="JsonChart">
                <span  aria-hidden="true"></span> JsonChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ObservableChart">
                <span  aria-hidden="true"></span> ObservableChart
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
